@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Awesome Serif Italic VAR Variable";
  src: url(https://framerusercontent.com/assets/1HjvNQ2KbkaOXii9QGid29ORtdc.woff2);
  font-display: swap;
}

@theme {
  --color-bg: 255 255 255;
  --color-box: 255 255 255;
  --box-border: 229 231 235;
  --box-sd: 226 232 240 / 0.5;
  --heading-1: 23 37 84;
  --heading-2: 31 41 55;
  --heading-3: 55 65 81;
  --blackWhite: 0 0 0;
  --borderColor: 200 200 200;
  --titlebg: 200 200 200;
  --title: 0 0 0;
  --titlePara: 51 51 51;
}

html.dark {
  --color-bg: 3 7 18;
  --color-box: 17 24 39;
  --box-border: 243 244 246 / 0.1;
  --box-sd: transparent;
  --heading-1: 255 255 255;
  --heading-2: 243 244 246;
  --heading-3: 209 213 219;
  --blackWhite: 255 255 255;
  --titlebg: 68, 75, 90;
  --title: 255 255 255;
  --titlePara: 204 204 204;
  --borderColor: 68, 75, 90;
}

@layer utilities {
  .bg-body {
    background-color: rgb(var(--color-bg));
  }
  .bg-box-bg {
    background-color: rgb(var(--color-box));
  }
  .text-heading-1 {
    color: rgb(var(--heading-1));
  }
  .text-heading-2 {
    color: rgb(var(--heading-2));
  }
  .text-heading-3 {
    color: rgb(var(--heading-3));
  }

  .blackWhite {
    color: rgb(var(--blackWhite));
  }

  .title {
    color: rgb(var(--title));
  }

  .titlePara {
    color: rgb(var(--titlePara));
  }

  .design-font {
    font-family: "Awesome Serif Italic VAR Variable";
  }

  .borderColor {
    border-color: rgb(var(--borderColor));
  }

  .titleBg {
    background-color: rgb(var(--titlebg));
  }

  @keyframes scroll {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .animate-scroll {
    animation: scroll 15s linear infinite;
  }

  .group:hover .animate-scroll {
    animation-play-state: paused;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "inter", sans-serif;
}
